NODE_ENV=development
SERVICE_NAME=gaming-hub-backend
API_VERSION=1
API_URL=http://localhost:3000
CLIENT_URL=http://localhost:5173
API_TIMEOUT=30000
PORT=3000
MONGODB_URI=
MONGO_DB_NAME=gaming-hub
REDIS_URL=
REDIS_GLOBAL_PREFIX=gaming-hub
THROTTLE_TTL=60000
THROTTLE_LIMIT=10
CORS_ORIGINS=http://localhost:5173
TONCENTER_API_URL=https://toncenter.com/api
TONCENTER_API_KEY=<replace me>
JWT_ACCESS_SECRET=secret
JWT_EXPIRES_IN=600
ADMIN_SALT_ROUND=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=
GOOGLE_PUBLISHER_REDIRECT_URL=
GOOGLE_AUTHORIZATION_URL=https://accounts.google.com/o/oauth2/v2/auth
GOOGLE_TOKEN_URL=https://oauth2.googleapis.com/token
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=
EMAIL_PASSWORD=
OTP_LENGTH=6
OTP_LIFE=300000
CRYPTO_PRIVATE_KEY=secret
BULL_PREFIX=gaming-hub
BLOOM_FILTER_SIZE=100
BLOOM_FILTER_FALSE_POSITIVE_RATE=0.001